body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    min-height: 100vh;
   
  }
#hero {
    background: linear-gradient(225deg, #0d6efd, #fd7e14);
    color: white;
    min-height: 80vh;
    display: flex;
    align-items: center;
  }

  .btn-custom {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .gradient-bg {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: white;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  
  .table-gradient {
    background: linear-gradient(135deg, #141e30, #243b55);
    color: white;
    transition: all 0.4s ease;
  }
  
  /* mantém células transparentes */
  .table-gradient th,
  .table-gradient td {
    background: transparent !important;
    color: white;
    transition: all 0.4s ease;
  }
  
  /* efeito ao passar o mouse na tabela inteira */
  .table-gradient:hover {
    background: linear-gradient(135deg, #ff512f, #f09819); /* laranja escuro -> claro */
  }
  
  /* deixa o texto mais destacado no hover */
  .table-gradient:hover th,
  .table-gradient:hover td {
    font-weight: bold;
  }

  .gradient-bg:hover {
    transform: translateY(-10px);
  }

  .bg-hero {
    background: linear-gradient(135deg, #0d6efd, #fd7e14);
    color: white;
}